@charset "utf-8";
/* kyoutuu */

a{
    text-decoration: none;

}

a:hover{
    opacity: 0.6;
}



ul{
    list-style-type: none;
}

ul.main{
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.flex{
    display: flex;
}

body{
    background-color: #9cf;
    margin: 0;
}


/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0);
    padding: 15px 0;
    text-align: center;
    z-index: 2;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transform: translateX(-10px);

}
.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    transition: 0.3s;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px; /* メニューを隠す */
    width: 200px;
    height: 100vh;
    background: #444;
    color: white;
    padding-top: 70px;
    transition: 0.3s;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    border-bottom: 1px solid #555;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.menu.show {
    right: 0; /* メニューを表示 */
    z-index: 1;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
    transform-origin: center;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transform-origin: center;
}
/* メインコンテンツ */
main {
    margin-top: 80px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

nav h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 1%;
    padding-inline-start: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1{
    padding: 50px 0 10px;
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    display: block;
}


/* main */
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

h2{
    text-align: center;
    padding: 20px 0;
}

.main{
    text-align: center;
    background-color: #fff;
    margin: 0 30px;
}

.main__list{
    padding: 10px;
}

/* footer */
footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
