@charset "utf-8";
/* kyoutuu */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;

}

a:hover{
    opacity: 0.6;
}

body{
    background-color: #333;


}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
    background-color: #808080;
}

ul{
    list-style-type: none;

}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.flex{
    display: flex;
}

/* header */
header{
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
   
}

h1{
    padding: 25px 0;
    font-size: 50px;
    font-family: cursive;
    color: antiquewhite;
}

.gnav{
    background-color: yellow;

}

.gnav__item{
    border-left: 1px solid #000;
    flex: 1 1 100px;
}

.gnav__item:first-child{
    border: none;
}

.gnav__link{
    color: #000;
    display: block;
}

.gnav__link:last-child{
    color: brown;
}

.gnav__link:hover{
    opacity: 1;
    background-color: #971f1f;

}

/* main */
.breadcrumb{
    font-size: 14px;
    margin: 10px 30px;
}

.bc__item + .bc__item::before{
    content:"＞";
}

h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
}




.section1 p{
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.section1_1 p{
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.section1_2 p{
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.section2{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.section2 p{
    font-size: 18px;
}

.section3{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.section3 p{
    font-size: 18px;
}

section{
    margin: 30px;
    color: aliceblue;
}

.section1 span{
    font-size: 30px;
}

.section1_1 span{
    font-size: 30px;
}

.section1_2 span{
    font-size: 30px;
}

.section2 span{
    font-size: 30px;
}

.section3 span{
    font-size: 30px;
}

img{
    width: 100%;
    aspect-ratio: 325/223;
    object-fit: cover;
}

.img2:hover{
    transform: scale(2, 2);
}

.img2{
    transform-origin: bottom right;
}

.img3:hover{
    transform: scale(2, 2);
}

.img3{
    transform-origin: bottom left;
}

.map{
    text-align: center;
}


/* footer */
footer{
    padding: 30px;
    text-align: center;
    
}

small a{
    font-weight: bold;
    color: #fff;
}