@charset "utf-8";
/* kyoutuu */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;

}

a:hover{
    opacity: 0.6;
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
    background-color: #b33c00;
    /* background-image: url(img\chuuka.jpg); */
}

ul{
    list-style-type: none;

}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.flex{
    display: flex;
}

body{
    background-color: #ffb;


}

/* header */
header{
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
   
}

h1{
    padding: 25px 0;
    font-size: 50px;
    font-family: cursive;
}

.gnav{
    background-color: #1b961f;
}

.gnav__item{
    border-left: 1px solid #000;
    flex: 1 1 100px;
    
}

.gnav__item:first-child{
    border: none;
}



.gnav__link{
    color: #fff;
    display: block;

}


.gnav__link:hover{
    opacity: 1;
    background-color: #971f1f;
}

/* main */
.breadcrumb{
    font-size: 14px;
    margin: 10px 30px;
}

.bc__item + .bc__item::before{
    content:"＞";
}

h2{
    text-align: center;
    color: red;
    font-size: 40px;
}

.section1{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    
}

.section1 p{
    font-size: 18px;
    color: yellow;
}

.section2{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
 
}
.section2 p{
    font-size: 18px;
    color: yellow;
}

.section2_1{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.section2_1 p{
    font-size: 18px;
    color: yellow;
}

.section3{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
   
}
.section3 p{
    font-size: 18px;
    color: yellow;
}

section{
    margin: 30px;

}

.section1 span{
    font-size: 30px;
}


.section2 span{
    font-size: 30px;
}

.section3 span{
    font-size: 30px;
}

.section2_1 span{
    font-size: 30px;
}

img{
    width: 100%;
    aspect-ratio: 325/223;
    object-fit: cover;
}

.img2_1,.img2_2{
    width: 100%;
    aspect-ratio: 223/325;
    object-fit: cover;
}

.img1:hover{
    transform: scale(2, 2);
}

.img1{
    transform-origin: bottom right;
}

.img2:hover{
    transform: scale(2, 2);
}

.img2{
    transform-origin: left;
}

.img3:hover{
    transform: scale(2, 2);
}

.img3{
    transform-origin: bottom right;
}

.map{
    text-align: center;
}


/* footer */
footer{
    padding: 30px;
    text-align: center;
    
}

small a{
    font-weight: bold;
    color: #fff;
}

small + small::before{
    content:"｜";
    color: #fff;
}